@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.MuiButtonBase-root {
	padding :0.75rem !important;
	min-width : 0 !important;
}