/* Variables */
@import 'variables';

/* Styles */

.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9998;

	.popup {
		// min-height: 40vh;
		min-width: 20vw;
		background-color: rgba(0, 0, 0, 1);
		color: $white;
		border-radius: $border-radius;
		border: 1px solid $themeInverseColor;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 50px;

		.close {
			@include icon;
			color: $black;
			background-color: $white;
			position: absolute;
			top: 0.5vw;
			right: 0.5vw;
			border-radius: $border-radius;
		}
		@media (max-width: 768px) {
			padding: 20px;
		}
	}
}
