@import 'variables';

/* Styles */
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.headContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.heading {
	text-align: center;
	font-size: $fontSize1;
}

.dummyLogin {
	margin: 0;
	flex-grow: 1;
	text-align: right;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.inputContainer {
	margin: 10px;

	input {
		@include input;
	}
}

.actoinContainer {
	text-align: right;

	a {
		color: $textColor2;

		&:hover {
			text-decoration: underline;
		}
	}
}

.hoverUnderline:hover {
	text-decoration: underline;
}
