@import 'variables';

.btn {
	cursor: pointer;

	border-radius: $border-radius;
	border: 0.2vw solid $themeInverseColor;
	padding: 0.2vh 0.2vw;
	margin-right: 5px;
	transition: all 0.4s;
	// font-size: $fontSize2;

	&:disabled {
		cursor: not-allowed;
	}
	&:focus {
		outline: none;
	}
	background-color: $primaryColor3;
	color: white;
	&:hover {
		background-color: darken($primaryColor3, 10%);
	}
}
