@import 'variables';

/* Define the base styles for the chat container */
.chat {
	padding: $border-padding;
	border-radius: $border-radius 0px 0px 0px;
	border: 1px solid $shadowColor;
	// box-shadow: -5px 0px 10px $shadowColor;

	// border: 2px solid red;

	position: absolute;
	top: 8vh;
	right: 0;
	bottom: 0;
	z-index: 1;
	max-width: 250px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	// opacity: 1;
	transition: all 0.5s ease-in-out;

	.msgicon {
		position: absolute;
		top: 1%;
		left: 0;
		font-size: 2.5vh;
		color: $textColor2;
		transform: translate(-100%, 0);
		cursor: pointer;
		transition: var(--transition);
		&:hover {
			color: $textColor3;
			font-size: $iconSizeHover;
		}
		@media (max-height: 768px) {
			font-size: 5vh;
			&:hover {
				font-size: 6vh;
			}
		}
	}
	@media (max-height: 768px) {
		max-width: 20%;
	}
}
.hide {
	transform: translateX(100%);
}

.messages {
	max-height: 92%;
	overflow: auto;
	display: flex;
	flex-direction: column;

	.userMessage,
	.otherMessage {
		display: flex;
		// border: 2px solid red;
		background-color: $primaryColor;
		color: $white;
		border: 2px solid black;
		max-width: 90%;
		width: auto;
		border-radius: $border-radius;
		padding: calc($border-padding/2);
		font-size: 12px;
		overflow-wrap: break-word;
	}

	.userMessage {
		margin-left: auto;
		background-color: $white;
		color: black;
	}

	.otherMessage {
		margin-right: auto;
	}
	li + li {
		margin-top: 0.5vh;
	}
}

.form {
	max-height: 8%;
	// border: 2px solid red;
	display: flex;
	justify-content: space-evenly;
	padding: calc($border-padding/2) 0px;

	.input {
		max-width: 70%;
		border-radius: $border-radius;
		padding: 2px 0.8vw;
		// height: 90%;
		&:disabled {
			color: $textInverse;
		}
	}

	.btn {
		max-width: 25%;
		border-radius: $border-radius;
		padding: 2px 0.8vw;
		transition: all 0.2s ease-in-out;
		background-color: $primaryColor3;
		font-size: 12px;
		cursor: pointer;

		&:hover {
			background-color: darken($primaryColor3, 10%);
		}

		&:disabled {
			background-color: $textColor3;
			color: $textInverse;
		}
	}
}
