/* Variables */
@import 'variables';

/* Styles */
.sign {
	min-height: 50vh;
	width: 80vw;
	max-width: 400px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: $border-radius;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
